<h1>My Dashboard</h1>

<article class="Weather">

  <h2>Forecast:</h2>
  <h3>Today:</h3>
  <p><%= @weather.description %></p>
  <p>Humidity: <%= @weather.humidity %>%</p>
  <p>Temperature: <%= @weather.temperature %>°F</p>

  <h3>The Next Eight Days:</h3>
  <% @weather.daily.each do |day|%>
    <section class='day' id='day-<%= day.date %>'>

      <p>Date: <%= day.date %></p>
      <p><%= day.description %></p>
      <p>Humidity: <%= day.humidity %>%</p>
      <p>Temperature: <%= day.temperature %>°F</p>
      <p>---------------</p>
    </section>
  <% end %>
</article>

<%= render 'shared/users_gardens_index' %>
