  <section class="gardens">
    <%= button_to 'Add New Garden', new_garden_path, method: :get, :class => "btn btn-primary margin-30-bottom" %>
    <% if current_user.gardens.empty? %>
      <h5>You have no gardens</h5>
    <% else %>
    <div class="card-columns">
      <% @gardens.each do |garden| %>
        <div class="card p-3 garden-card garden" id="garden-<%= garden.id %>">
            <a href="<%=garden_path(garden.id)%>">
              <img class="card-img-top" alt="Image-<%= garden.id %>" src="/assets/default-garden-5bbbceb5c8def07b7a99e836154844af647a4598ec1250edaf878c68467caad9.png">
            </a>

          <div class="card-body">
            <h3 class="card-title text-primary"><%= link_to garden.name, garden_path(garden.id) %></h3>
            <p class="card-text text-primary">
              <strong>Description:</strong> <%= garden.description %><br />
              <strong>Latitude:</strong> <%= garden.latitude %><br />
              <strong>Longitude:</strong> <%= garden.longitude %><br />
              <strong>Private?</strong> <%= garden.is_private %><br />
            </p>
            <%= render :partial => "shared/edit_delete_icons", locals: {
              garden: garden } %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <br>
  </section>
