<h1><%= @plant.name %></h1>

 <p><%= @plant.species %></p>
 <p><%= @plant.description %></p>
 <p><%= @plant.light_requirements %></p>
 <p><%= @plant.water_requirements %></p>
 <p><%= @plant.when_to_plant %></p>
 <p><%= @plant.harvest_time %></p>
 <p><%= @plant.common_pests %></p>
