<center>
  <h3>Your <%= @sensor.sensor_type %> sensor</h3>
  
    <% if !@sensor.garden_healths.nil? %>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="single category">
                <h3 class="side-title">Last 5 Readings</h3>
                  <ul class="list-unstyled">
                    <% @sensor.garden_healths[-5..-1].reverse.each do |reading| %>
                        <% time = reading.created_at.to_time.to_s.split(" ")[1] %>
                        <%= reading.created_at.to_date %> <%= time %><span class="pull-right"><%= reading.reading %></span><br>
                    <% end %>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %><br>

    <div class="dropdown">
      <button class="dropbtn">Sensor History</button>
      <div class="dropdown-content">
        <% path = "/gardens/#{@sensor.garden_id}/sensors/#{@sensor.id}" %>
        <a <%= link_to 'Last 24 Hours', "#{path}?history=1" %></a>
        <a <%= link_to 'Last 7 Days', "#{path}?history=7" %></a>
        <a <%= link_to 'Last 14 Days', "#{path}?history=14" %></a>
        <a <%= link_to 'Last 30 Days', "#{path}?history=30" %></a>
        <a <%= link_to 'Last 90 Days', "#{path}?history=90" %></a>
      </div>
    </div>

    <% if @history %>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="single category">
                <h3 class="side-title">History</h3>
                  <ul class="list-unstyled">
                    <% @history.each do |reading| %>
                        <% time = reading.created_at.to_time.to_s.split(" ")[1] %>
                        <%= reading.created_at.to_date %> <%= time %><span class="pull-right"><%= reading.reading %></span><br>
                    <% end %>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</center>
