<center>
  <div class="text-primary">
    <h2>Your <%= @sensor.sensor_type %> sensor</h2><br>
  </div><br>

  <% if !@last_five_readings.nil? %>
    <p>Last 5 Readings</p>
      <div id=sensor_type><%= @type %></div>
      <div id='readings'><%= @last_five_readings %></div>
        <div id="chart"></div>
          <script>
            var sensor_type = document.getElementById("sensor_type").textContent;
            var readings = document.getElementById("readings").textContent;
            readings = readings.replace('[', '').replace(']', '').split(', ');

            var chart = c3.generate({
              bindto: '#chart',
              data: {
                  columns: [
                      ['readings']
                    ]
                  },
              axis: {
                  y: {
                    label: { // ADD
                      text: sensor_type,
                      position: 'outer-middle'
                    }
                  }
                }
              });
            setTimeout(function() {
                chart.load({
                    columns: [
                      ['readings', ...readings]
                    ]
                });
            }, 100);
          </script>
  <% end %><br>

    <div class="dropdown">
      <button class="btn btn-primary">Sensor History</button>
      <div class="dropdown-content">
        <% path = "/gardens/#{@sensor.garden_id}/sensors/#{@sensor.id}" %>
        <a <%= link_to 'Last 24 Hours', "#{path}?history=1" %></a>
        <a <%= link_to 'Last 7 Days', "#{path}?history=7" %></a>
        <a <%= link_to 'Last 14 Days', "#{path}?history=14" %></a>
        <a <%= link_to 'Last 30 Days', "#{path}?history=30" %></a>
        <a <%= link_to 'Last 90 Days', "#{path}?history=90" %></a>
      </div>
    </div><br><br>

    <% if @previous_readings %>
    <div id=sensor_type><%= @type %></div>
      <div id='previous_readings'><%= @previous_readings %></div>
        <div id="chart2"></div>
          <script>
            var sensor_type = document.getElementById("sensor_type").textContent;
            var previous_readings = document.getElementById("previous_readings").textContent;
            previous_readings = previous_readings.replace('[', '').replace(']', '').split(', ');

            var chart2 = c3.generate({
              bindto: '#chart2',
              data: {
                  columns: [
                      ['readings']
                    ]
                  },
              axis: {
                  y: {
                    label: { // ADD
                      text: sensor_type,
                      position: 'outer-middle'
                    }
                  }
                }
              });
            setTimeout(function() {
                chart2.load({
                    columns: [
                      ['readings', ...previous_readings]
                    ]
                });
            }, 100);
          </script>
    <% end %><br>
    <div class="text-primary">
      <%= link_to "Edit Sensor", "/gardens/#{@sensor.garden_id}/sensors/#{@sensor.id}/edit" %><br>
    </div><br>
</center>
