<center>
  <h3>Create A New Garden</h3>

  <section class="new-garden">
    <%= form_with url: '/gardens', local: true do |form| %>
      <%= form.label :name %><br>
      <%= form.text_field :name, placeholder: 'Tomato Garden', required: true %><br><br>
      <%= form.label :latitude %><br>
      <%= form.number_field :latitude, placeholder: '39.7392', step: :any, required: true %><br><br>
      <%= form.label :longitude %><br>
      <%= form.number_field :longitude, placeholder: '104.9903', step: :any, required: true %><br><br>
      <%= form.label :description %><br>
      <%= form.text_area :description, placeholder: 'Describe your garden', required: true %>
      <p>Would you like your garden to be private?</p>
      <%= form.label :private, 'Yes' %>
      <%= form.radio_button :private, true %>
      <%= form.label :private, 'No' %>
      <%= form.radio_button :private, false, checked: true %><br><br>
      <%= form.submit "Create Garden" %><br><br>
    <% end %>

    <p>* A private garden means no one else using the app will be able to see your garden and it's information</p>
  </section>
</center>
