<!DOCTYPE html>
<html>
 <head>
    <title>FrontEndRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>
<body>
  <% if !current_user.nil? %>
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark sticky-top" id="navbar-<%= current_user.id %>">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-expand-xl" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/gardens">My Gardens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/impact">My Impact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/learn_more">Learn More</a>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gardens">Garden Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>
  <% flash.each do |type, message| %>
     <p><%= message %></p>
   <% end %>
  <%= yield %>
</body>
</html>
